.sidebar--playing-sidebar
  .row:first-child
    margin-top: 30px
    margin-bottom: 40px
  .sidebar--playing-sidebar__score-div
    text-align: center
    h3
      margin-top: 20px
  .sidebar--playing-sidebar__timer-div
    text-align: center
    h2
      margin-bottom: 0px
  .sidebar--playing-sidebar__hint-row
    div
      div
        h3
          text-align: center

.sidebar--explore-sidebar
  text-align: center
  h2
    padding-top: 30px

.sidebar--explore-sidebar__begin-button
  font-size: 20px
  margin-top: 30px

.sidebar__table_of_streets
  width: 100%
  thead
    text-align: center
  tbody
    tr
      td
        margin: 0px 15px

.sidebar__image
  width: 100%
  margin: 25px 0px

.sidebar__image-container
  margin: 0px 10px

.sidebar__span-correct_street_guess
  color: green

.sidebar__selector-container
  margin-top: 80px

.countdown-timer
  position: absolute
  width: 108px
  height: 108px

.countdown-timer__circle-container
  svg
    width: 108px
    height: 108px
    transform: rotateZ(-90deg)
    position: absolute
  circle
    stroke-dasharray: 188px
    stroke-linecap: butt
    stroke-width: 6px
    stroke: blue
    fill: none
  .countdown-timer__background-circle
    stroke-dasharray: 188px
    stroke-linecap: butt
    opacity: 0.2
    stroke-width: 6px
    stroke: blue
    fill: none

.countdown-timer__text
  position: absolute
  top: 26px
  left: 49px
  width: 108px
  font-size: 14px
  font-weight: 600
  text-align: center

@keyframes countdown-animation
  from
    stroke-dashoffset: 0px
  to
    stroke-dashoffset: 188px
